@font-face {
	font-family: headline;
	src: url('font/PT_Serif-Web-Bold.ttf');
}

@font-face {
	font-family: copy;
	src: url('font/PT_Serif-Web-Regular.ttf');
}

@font-face {
    font-family: label;
    src: url('font/RobotoCondensed-Bold.ttf');
}

@font-face {
	font-family: number;
	src: url('font/RobotoCondensed-Light.ttf');
}

#defaultCanvas0 {
	position: fixed;
	left: 0px;
	top: 0px;
	opacity: 0;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
}

.race-labels {
	opacity: 0;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
}

.headline {
	left: 50px;
	top: 140px;
	width: 250px;
	position: fixed;
	font-family: headline;
	font-size: 24px;
	z-index: 99;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
	opacity: 0;
}

.copy  {
	position: fixed;
	left: 50px;
	top: 220px;
	width: 280px;
	overflow: auto;
	font-family: copy;
	font-size: 16px;
	z-index: 99;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
	opacity: 0;
}

.copy0 {
	opacity: 1;
}

.copy0, .copy4 {
	width: 500px;
}

.headline0 {
	opacity: 1;
}

.race-labels {
	width: 1024px;
	height: 768px;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 99;
	font-family: label, arial, sans-serif;
	font-size: 14px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
}

.race-labels .label {
	position: absolute;
}

.race-labels .number {
	position: absolute;
}