@font-face {
	font-family: headline;
	src: url('font/PT_Serif-Web-Bold.ttf');
}

@font-face {
	font-family: copy;
	src: url('font/PT_Serif-Web-Regular.ttf');
}

@font-face {
    font-family: label;
    src: url('font/RobotoCondensed-Bold.ttf');
}

@font-face {
	font-family: number;
	src: url('font/RobotoCondensed-Light.ttf');
}

#defaultCanvas0 {
	position: fixed;
	left: 0px;
	top: 0px;
	opacity: 0;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
}

.labels {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
}

.headline {
	left: 50px;
	top: 100px;
	width: 300px;
	position: fixed;
	font-family: headline;
	font-size: 20px;
	z-index: 99;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
	opacity: 0;
}

.copy  {
	position: fixed;
	left: 50px;
	top: 140px;
	width: 280px;
	overflow: auto;
	font-family: copy;
	font-size: 16px;
	z-index: 99;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
	opacity: 0;
}

.copy-p {
	margin-bottom: 12px;
}


.copy.intro, .copy.outro {
	width: 500px;
}


.labels {
	width: 1024px;
	height: 768px;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 99;
	font-family: label, arial, sans-serif;
	font-size: 14px;
}

.name-label, .hhincome-label, .hhsize-label, .percapita-label {
	position: absolute;
}

.next {
	cursor: pointer;
	font-size: 16px;
	position: fixed;
	top: 540px;
	left: 50px;
	font-family: copy;
	color: #999999;
	z-index: 100;
	width: 80px;
	overflow: auto;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
}

.next:hover {
	color: #000000;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
}

.about-link {
	cursor: pointer;
	font-size: 12px;
	position: fixed;
	top: 10px;
	right: 10px;
	font-family: copy;
	color: #999999;
	z-index: 100;
	width: 40px;
	overflow: auto;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
}

.about-link:hover {
	color: #000000;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
}


.about {
	font-family: copy;
}